
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model IEnumerable<ShoppingCar.Models.Product>

@{
    ViewBag.Title = "產品列表";
}


<div class="row" style="margin-top:20px;">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="~/images/@item.Img" style="width:200px;height:270px;">
                <div class="caption">
                    <h4>@item.Name</h4>
                    <p>單價：@item.Price</p>
                    <p>
                        <a href="@Url.Action("DeleteProduct", "Admin")?PId=@item.PId" class="btn btn-primary">刪除商品</a>
                        <a href="@Url.Action("EdiProducts", "Admin")?PId=@item.PId" class="btn btn-primary">編輯商品</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>




