@model IEnumerable<ShoppingCar.Models.Product>

@{
    ViewBag.Title = "產品列表";
}

<h3>商品搜尋</h3>
<form action="@Url.Action("KeyWordSearch")" method="get">
    <input type="text" name="key" />
    <input type="submit" value="搜尋" class="btn btn-default" />
</form>

<div class="row" style="margin-top:20px;">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="~/images/@item.Img" style="width:200px;height:270px;">
                <div class="caption">
                    <h4>@item.Name</h4>
                    <p>單價：@item.Price</p>
                    <p><a href="@Url.Action("AddCar", "Member")?PId=@item.PId" class="btn btn-primary">加入購物車</a></p>
                </div>
            </div>
        </div>
    }
</div>

